# Introduction to Pandas

[Pandas](https://pandas.pydata.org/) is an open-source library for data analysis and manipulation.

Pandas integrates seamlessly with other Python libraries such as [NumPy](http://www.numpy.org) and [Matplotlib](http://www.matplotlib.org) for numeric processing and visualizations.

When using Pandas, we will primarily interact with [DataFrames](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) and [Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html).

In [ ]:
import pandas as pd

## Pandas Series
A [Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) represents a sequential list of data. It is a foundational building block of a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

### Creating a Series

We create a new `Series` object as we would any Python object:

```python
s = pd.Series()
```

You can create a series object with data by passing it a list or tuple.
We will create a list called temperatrues.
The temperatures are not in descending or ascending order.

In [ ]:
temperatures = [55, 63, 72, 65, 63, 75, 67, 59, 82, 54]

series = pd.Series(temperatures)

print(type(series))
print(series)

Here we created a new `pandas.core.series.Series` object with ten values presumably representing some temperature measurement.

A data type object (an instance of numpy.dtype class) describes how the bytes in the fixed-size block of memory corresponding to an array item should be interpreted.
It describes the following aspects of the data.

1. Type of the data (integer, float, Python object, etc.)
1. Size of the data (how many bytes is in e.g. the integer)
1. Byte order of the data (little-endian or big-endian)
1. If the data type is structured data type, an aggregate of other data types, (e.g., describing an array item consisting of an integer and a float),
1. If the data type is a sub-array, what is its shape and data type.


- object
- int64 # 64-bit unsigned integer
- float64 # 64-bit floating-point number
- datetime64
- bool
- object

The Series contains 64-bit integer data type.

### Analyzing a Series

You can ask the series to compute information about itself. The `describe()` method provides statistics about the series.
You can also find other information about a `Series` such as if its values are all unique: series.unique()

In [ ]:
series.describe()

In [ ]:
series.unique()

They are very similar to other data structures (list, array); individual items in a series can be accessed by index.

In [ ]:
series[4]

We can modify individual values.

In [ ]:
series[1] = 65
series

You can also modify all of the elements in a series using standard Python expressions. For instance, if we wanted to add `1` to every item in a series, we can just do:

In [ ]:
series = series + 1

In [ ]:
series

In [ ]:
The temperatures are not in descending or ascending order.

In [ ]:
series.sort_values() #ascending = False

Replace values where the condition is False.

In [ ]:
series.where(series >70)

Replace values where the condition is True.

In [ ]:
series.mask(series>60)

You can remove values from the series by index using `pop`. 	
Return item and drops from series.

In [ ]:
series.pop(4)

In [ ]:
series

Return Series with specified index labels removed.

In [ ]:
series.drop(0)

In [ ]:
series

In order to get the indices back into a smooth sequential order, we can call the `reset_index` function. We pass the argument `drop=True` to tell Pandas *not* to save the old index as a new column. We pass the argument `inplace=True` to tell Pandas to modify the series directly instead of making a copy.

In [ ]:
series.reset_index(drop=True, inplace=True)
series

### Math Functions
Then, using a function in the [Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) class, find the standard deviation of the values in that series.

In [ ]:
import numpy as np

temperatures = np.random.randint(0, 100, size=9)
series2 = pd.Series(temperatures)
print(series2)

-n<N>: execute the given statement <N> times in a loop. If <N> is not provided, <N> is determined so as to get sufficient accuracy.

In [ ]:
%timeit -n1 series+series2

-q: Quiet, do not print result.

In [ ]:
%timeit -q series.add(series2)

-r R: number of repeats R, each consisting of N loops, and take the best result. Default: 7

In [ ]:
%timeit -r2 series*series2

-p P: use a precision of P digits to display the timing result. Default: 3

In [ ]:
%timeit -p5 series.mul(series2)

In [ ]:
series.mean()

In [ ]:
series.std()

In [ ]:
series.sum()

In [ ]:
series.var()

## Pandas DataFrame
Now that we have a basic understanding of `Series`, let's dive into the [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). If you picture `Series` as a *list* of data, you can think of `DataFrame` as a *table* of data.

A `DataFrame` consists of one or more `Series` presented in a tabular format. Each `Series` in the `DataFrame` is a column.

### Creating a DataFrame

We can create a `DataFrame` using the `DataFrame` class in Pandas.

Instead, let's create a `DataFrame` using a few series.

In the code block below you'll see that we have two series:

1. Day
1. Temperature

In [ ]:
day = pd.Series(np.arange(1,11))

df=pd.DataFrame({
    'Day': day,
    'Temp': series2
})

We can now combine these series into a `DataFrame`, using a dictionary with keys as the column names and values as the series:

In [ ]:
df

In [ ]:
df.describe()

But a random `DataFrame` isn't particularly exciting. Instead, let's create a `DataFrame` using a csv file from our class documents. <br>
Let's retrieve the data using read_csv.

In [ ]:
pd.read_json("https://oudatalab.com/cs5293sp22/documents/tweets.json", lines=True) #You have to read it line by line.

In [ ]:
df = pd.read_csv("https://oudatalab.com/cs5293sp22/documents/salesjan2009.csv")

We can get insight into the dataset using ```.info``` and ```.describe```.

In [ ]:
df.info()

In [ ]:
Columns with mixed types are stored with the object dtype.

In [ ]:
df.describe()

If we want to look at the data we could print the entire `DataFrame`, but that doesn't scale well for really large `DataFrames`. The `head` method is a way to just look at the first few rows of a `DataFrame`.

In [ ]:
df.head()

Conversely, the `tail` method returns the last few rows of a data frame.

In [ ]:
df.tail() #choose the number of rows with an int

We can return a random sample of your `DataFrame`.

In [ ]:
df.sample(n=5)

We can check if the DF has missing values and what the count of those missing values are.

In [ ]:
df.isnull().sum()

### Accessing Values

We saw that individual values in a  `Series` can be accessed using indexing similar to that seen in standard Python lists and tuples.
Accessing values in `DataFrame` objects is a little more involved. <br>
To access an entire column of data you can index the `DataFrame` by column name. For instance, to return the entire `Name` column as a `Series` you can run the code below:

To access an entire column of data you can index the `DataFrame` by column name. For instance, to return the entire `Name` column as a `Series` you can run the code below:

### Accessing Values

We saw that individual values in a  `Series` can be accessed using indexing similar to that seen in standard Python lists and tuples.
Accessing values in `DataFrame` objects is a little more involved.

#### Accessing Columns

To access an entire column of data you can index the `DataFrame` by column name. For instance, to return the entire `Name` column as a `Series` you can run the code below:

In [ ]:
df['Name']

Sometimes you might also see columns of data referenced using the dot notation:

In [ ]:
df.Name

This is a neat trick, but it is problematic for a couple of reasons:

1. You can only get a `Series` back.
1. It is impossible to reference columns with spaces in the names with this notation (ex. 'City Name').
1. It is confusing if a column has the same name as an inbuilt method of a `DataFrame`, such as `size`.

We mention this notation because you'll likely see it. However, we don't advise using it.

In this case, you index the `DataFrame` using a list, where the list contains the name of the column that you want returned as a `DataFrame`:

In [ ]:
df[['Name']]

Similarly, you can return more than one column in the resultant `DataFrame`:

In [ ]:
df[['Name', 'City']]

#### Accessing Rows

What would happen if you try index to the 1st element?

In [ ]:
df[1]

In order to access rows of data, you can't use standard indexing.
It would seem natural to index using a numeric row value, but as you can see in the example, this yields a `KeyError`.
This is because the default indexing is to look for column names, and numbers are valid column names.
If you had a column named `1` in a `DataFrame` with at least two rows, Pandas wouldn't know if you wanted row `1` or column `1`.

In order to index by row, you must use the `iloc` feature of the `DataFrame` object.

In [ ]:
df.iloc[1]

The code above returns the second row of data in the `DataFrame` as a `Series`.

You can also return multiple rows using slices:

In [ ]:
df.iloc[1:3]

If you want sparse rows that don't fall into an easily defined range, you can pass `iloc` a list of rows that you would like returned:

In [ ]:
df.iloc[[1, 3]]

##### Accessing Row/Column Intersections

We've learned how to access columns by direct indexing on the `DataFrame`. We've learned how to access rows by using `iloc`. You can combine these two access methods using the `loc` functionality of the `DataFrame` object.

Simply call `loc` and pass it two arguments:

1. The row(s) you want to access
1. The column(s) you want to access

Using this, we access the 'Name' in the third row of the `DataFrame`:

In [ ]:
df.loc[2, 'Name']

We can access the 'Name' and 'City' columns in the third and fourth rows of the `DataFrame`:

In [ ]:
df.loc[[2,3], ['Name', 'City']]

#### Modifying Values

There are many ways to modify values in a `DataFrame`. We'll look at a few of the more straightforward ways in this section.

##### Modifying Individual Values

The easiest way to modify a single value in a `DataFrame` is to directly index it on the left-hand sign of an expression.

In [ ]:
df.loc[6,'City']

In [ ]:
df.loc[6, 'City'] = 'Norman'

##### Modifying an Entire Column

Modifying a single value is a great skill to have, especially when working with small numbers of  **outliers**.

When would you want to do this?

Consider the 'Price' column from the Dataframe. It is integer-valued. For this we can do column-level modifications.

In the example below we simply divide the price by 10.

In [ ]:
df['Price'] /= 10
df

Instead of overwriting the existing column, you may instead want to create a new column. This can be done by assigning to a new column name:

In [ ]:
df['Price_Mod'] = df['Price'] / 10

In [ ]:
df

If we want to replace a value in a particular column we could use `.replace`.

In [ ]:
df.Product.replace('Product1', 'MyProduct')

If we want to fill missing values in a particular column we could use `.fillna`.
We will replace the null values from US Zip Column with 00000.

In [ ]:
df['US Zip'].fillna("00000")

In [ ]:
df['Price'].unique()

### Queries and Groupby

#### Query
Query the columns of a DataFrame.

In [ ]:
df[df.Account_Created >= df.Last_Login]

In [ ]:
df.query('Account_Created <= Last_Login')

#### Groupby
In pandas, SQL’s GROUP BY operations are performed using the similarly named `groupby()` method.
`groupby()` typically refers to a process where we’d like to split a dataset into groups, apply some function (typically aggregation) , and then combine the groups together.

A common SQL operation would be getting the count of records in each group throughout a dataset.
For instance, a query getting us the number of sales left by state:

```
SELECT state, count(*)
FROM df
GROUP BY state;
```

In [ ]:
df.groupby("State").size()

We used size() and not count(). This is because count() applies the function to each column, returning the number of NOT NULL records within each.

In [ ]:
df.groupby("State").count()

Alternatively, we could have applied the count() method to an individual column:

In [ ]:
df.groupby('State')['State'].count()

```
SELECT state, count(*)
FROM df
GROUP BY state
ORDER BY state DESC;
```

In [ ]:
df.groupby('State')['State'].count()
.sort_values(ascending=False)

In [ ]:
df.groupby('State')['State'].count()
.sort_values(ascending=False).head()

```
SELECT MAX(price) as LargestPrice
FROM df
GROUP BY product
ORDER BY product ASC;
```

In [ ]:
df.groupby('Product')['Price'].max().
sort_values(ascending=True)

### Visualizations
Pandas provides several different functions to visualizing our data with the help of the .plot() function.

In [ ]:
df.plot(subplots=True, figsize=(8, 8));

In [ ]:
df['Price'].plot.hist()

In [ ]:
_ = df.hist(figsize=(8,8))

In [ ]:
df[['Latitude', 'Longitude']].plot.box()

In [ ]:
df.plot.scatter(x="Payment_Type", y="Price")

In [ ]:
df.groupby('Product')['Price'].count().sort_values(ascending=True).plot(kind='bar')

#### Fill Between
The fill_between function generates a shaded region between a min and max boundary that is useful for illustrating ranges.
At its most basic level, fill_between can be used for error bars and show the error bound of the std dev

In [ ]:
import matplotlib.pyplot as plt

x = np.arange(10)
y = np.random.randint(10, size=10)

plt.plot(x, y, '-o')
plt.show()

In [ ]:
plt.plot(x, y, '-o')

plt.fill_between(x, y, color='yellow',  alpha=0.5)
plt.show()